body {
  font-family: 'Helvetica Neue', sans-serif;
}
/* NOTE: PAGE HEADER:*/
#page-header {
  padding: 30px 0;
}

#page-header figure {
  margin: 0;
}

#page-header figcaption {
  display: inline;
  margin-left: 10px;
}

#page-header figcaption a {
  color: #707070;
  font-size: 20px;
}

#page-header .nav-item a {
  font-weight: 300;
  font-size: 18px;
  color: #707070;
  padding: 0 20px;
  border-right: 1px solid #707070;
}

#page-header .nav-item:last-of-type a {
  border: none;
  padding-right: 0;
}

/* main {
  height: 500px;
} */
/* NOTE: Home Page */
#homepage-cover {
  height: 100%;
  background: url(./img/homepage-cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}

#homepage-cover h1 {
  color: white;
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 30px;
}

#homepage-cover button {
  background: #eaeaea;
  font-size: 16px;
  font-weight: 100;
  padding: 10px 20px;
}

#page-home {
  height: calc(100vh - 188px);
}

.constrained-full-height {
  min-height: calc(100vh - 188px);
}
/* NOTE:  FOOTER */
#page-footer {
  background: #f2f2f2;
}

#page-footer p {
  margin: 0;
  text-align: center;
  padding: 15px 0;
  font-size: 12px;
  font-weight: 100;
}

/* NOTE: Page Contact */

#page-contact .bg-section {
  background: url(./img/contact-cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#page-contact .content-section h1 {
  font-size: 36px;
  font-weight: 100;
}

#page-contact form label {
  font-size: 18px;
  font-weight: 100;
}

.form-control {
  background: #f9f9f9;
  border: none;
  padding: 10px 5px;
}

#page-contact form button {
  background: #eaeaea;
  color: black;
  border: none;
  font-size: 16px;
  font-weight: 100;
  padding: 15px 30px;
}

.hr {
  border-bottom: 1px solid #eaeaea;
  width: 80px;
  margin: 0 auto;
}
/* NOTE: ABOUT: */

#page-about .bg-section {
  background: url(./img/about-cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#page-about .content-section h1 {
  font-size: 36px;
  font-weight: 100;
}

#page-about .content-section p {
  font-size: 18px;
  font-weight: 100;
}

/* NOTE: BAKED-GOODS */
#page-baked-goods {
  min-height: calc(100vh - 188px);
}
#page-baked-goods h1 {
  font-size: 36px;
  font-weight: 100;
}
#page-baked-goods p {
  font-size: 24px;
  font-weight: 100;
}
#page-baked-goods .price {
  font-style: italic;
}
#page-baked-goods figcaption img {
  width: 100%;
  object-fit: cover;
}

/* NOTE: PRODUCT CHOCO */
#page-choco .bg-section {
  background: url(./img/choco-pie.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#page-choco h1 {
  font-size: 36px;
  font-weight: 100;
}
#page-choco .price {
  font-weight: 100;
  font-size: 24px;
  font-style: italic;
}
#page-choco p {
  font-weight: 100;
  font-size: 18px;
}
